.footer-input {
  display: flex;
  justify-content: center;
  align-items: center;

  .input-group {
    width: 95%;
  }
}

.image-chat {
  max-width: 60%;
}

.body {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #101010;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #2b2d31;
    border-radius: 10px;
  }
  scroll-behavior: smooth;
}

.purple {
  color: #8a1bab;
}
