
<!-- <table class="table">
  <tr *ngFor="let post of postInattivi">
    <td>{{ post.id }}</td>
    <td>{{ post.title }}</td>
    <td>{{ post.active }}</td>
  </tr>
</table> -->

<div *ngFor="let post of postAttivi"
[ngClass]="{'bg-warning': post.type =='news', 'bg-info': post.type =='education', 'bg-dark': post.type ==' politic'}"
  class="card w-25">
  <div class="card-header">
    <h2>Post</h2>
  </div>
  <div class="card-body">
    <h2></h2>
    <h3>{{post.title}}</h3>
    <p>{{post.type}}</p>
    <button type="button" (click)="changeStatus(post.id)">Attiva</button>
  </div>
</div>

