<div class="container-fluid">
  <footer class="py-3 text-white d-flex justify-content-evenly align-items-center">
    <a href="https://github.com/MarLizZo?tab=repositories" class="text-decoration-none" target="_blank">Marco
      Cristofori</a> |
    <a class="text-decoration-none" href="https://github.com/Manuel-Altruda?tab=repositories" target="_blank"
      class="text-decoration-none">Manuel
      Altruda</a>
    | <a href="https://github.com/Nicostaffo" class="text-decoration-none" target="_blank">Niccolò Staffolani</a> |
    <a href="" class="text-decoration-none" href="https://github.com/lucabrr" target="_blank">Luca Brancato</a> |
    <a href="" class="text-decoration-none" href="https://github.com/Mercurio-De-Luca/fs0223-Mercurio-De-Luca"
      target="_blank">Mercurio De Luca</a> |
    <a href="" class="text-decoration-none" href="https://github.com/vktskm/fs0223-Vincenzo-Schembri"
      target="_blank">Vincenzo Schembri</a>
  </footer>
</div>