.modal-header {
  border-bottom: 1px solid #95177e;
  background-color: #1e1f22;
}

.modal-footer {
  border-top: 1px solid #95177e;
  background-color: #1e1f22;
}

.text-purple {
  color: #781795;
}
