.rating-group {
  display: inline-flex;
}


.rating__input {
  position: absolute !important;
  left: -9999px !important;
}


.rating__input__none {
  display: none
}


.rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}


.rating__icon--star {
  fill: #00ffff;
}


.rating__input:checked~.rating__label .rating__icon--star {
  fill: #0b113b;
}


.rating-group:hover .rating__label .rating__icon--star {
  fill: #00ffff;
}


.rating__input:hover~.rating__label .rating__icon--star {
  fill: #0b113b;
}

#stelleValut {
  margin-top: 50px;
  margin-bottom: 50px;
  
}

#stella {
 fill : rgb(144, 21, 21);
}


/*body {
padding: 1rem;
text-align: center;
}*/
