.grp2_paginaFeedback{
    background-image:url(../assest/bg.jpg);
    color: white;
    width: 1024;
    height: 728px;
    padding: 50px;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.feedback {
    text-align: center;
    margin-top: 50px;
}

.grp2_paginaFeedback h2 {
    font-size: 50px;
    font-weight: bold;
}

#stelleValut {
    margin-bottom: 80px;
}

.comment input {
    background: none;
    border: none;
    border-bottom: 2px solid #c2148d;
    width: 450px;
    margin: 30px 0 50px 0;
    outline: none;
    color: white;
    padding-bottom: 8px;
}

.comment input::placeholder {
    padding: 20px;
}

.grp2_paginaFeedback button {
    cursor: pointer;
}




