body {
    margin: 10px;
  }
  
  // Funzionalità disponibili solamente nei file .scss
  
  // 1) SELETTORI ANNIDATI/NIDIFICATI
  // nav {
  //     display: block;
  // }
  
  // nav ul {
  //     display: flex;
  //     flex-direction: column;
  // }
  
  // @media screen and (min-width: 768px) {
  //     nav ul {
  //         flex-direction: row;
  //     }
  // }
  
  nav {
    display: block;
    ul {
      display: flex;
      flex-direction: column;
      li {
        font-size: 1.1em;
      }
      @media screen and (min-width: 768px) {
        flex-direction: row;
      }
    }
  }
  
  // #main p { ...blabla }
  
  #main {
    background-color: lightcyan;
    p {
      letter-spacing: 0.5cm;
    }
    a {
      text-decoration: none;
    }
    p.federico {
      color: red;
    }
  }
  
  // 2) LAVORARE CON LE PSEUDOCLASSI
  // button.primary {
  //   padding: 10px;
  //   background-color: lightsalmon;
  // }
  
  // button.primary:hover {
  //   background-color: aquamarine;
  //   transform: scale(1.2);
  // }
  
  button {
    &.primary {
      display: none;
    }
    &.secondary {
      padding: 10px;
      background-color: lightsalmon;
      &:hover {
        background-color: aquamarine;
        transform: scale(1.2);
      }
    }
}