#main-nav{
  background-color: blue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  color: white;
  padding: 1em;

         ul {
               list-style-type: none;
               display: flex;
               justify-content: space-evenly;
               align-items: center;
                                li{
                                    padding: 20px;
                                    background-color: aqua;
                                    border-radius: 50px;
                                    margin: 10px ;
                                }
            }
}






