@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$font-family: 'Poppins', sans-serif;

$small-size: 16px;
$medium-size: 30px;
$large-size: 40px;
$x-large-size: 50px;
$xx-large-size: 20px;