/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

html {
  height: 100%;
}

body {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #101010;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #2b2d31;
    border-radius: 10px;
  }
}

a {
  color: white !important;
}

// body {
//   display: flex;
//   flex-direction: column;
// }
