#offcanvasRight{
    background-color:#000000 ;
    color: #ffffff;
      
          .btn i{
              color: #ffffff !important;
          }
          
          .friends{
              margin-bottom: 1rem;
              .rounded-circle{
                  width: 50px;
                  margin-right: 1em;
              }
          }
  }