body { 
    font-family:'Open Sans',"";
    font-size: 1.2rem;
   
}


header div {

    background: #222f12;
}

header nav{
    background:mediumblue ;
}

header .menu{
  font-size: 2.0rem;
  padding:0.5em 0.5em;
  color:white;
}


/* MAIN */
main {
    margin : 2em 2em;
    blackground: grey;
}

main h3{
    background: orange;
    color : white;
    text-align: center;
    padding: 1em 1em;
    margin : 1em 1em;
}

main #titolo{
    background-image: url('assets/bg-img.png');
    color : white;
    text-align: center;
    padding: 3em 3em;
    margin : 1em 1em;
}

#im1{
    
    background-size:cover ;
    border-radius: 15px;
    height: 400 px;
    width: 350px;
    box-shadow: 0 5px 5px black;
    display: inline;
}


#im2{
    background-image: url(assets/img_2.jpg);
    background-size:cover ;
    border-radius: 15px;
    height: 400 px;
    width: 350px;
    box-shadow: 0 5px 5px black;
    display: inline;
}


#im3{
    background-image: url(assets/img_3.jpg);
    background-size:cover ;
    border-radius: 15px;
    height: 400 px;
    width: 350px;
    box-shadow: 0 5px 5px black;
    display: inline;
}

#im4{
    background-image: url(assets/img_4.jpg);
    background-size:cover ;
    border-radius: 15px;
    height: 400 px;
    width: 350px;
    box-shadow: 0 5px 5px black;
    display: inline;
}


.im{
    display: flex;
    justify-content: space-between;
    background-size:cover ;
    border-radius: 15px;
    height: 400 px;
    width: 350px;
    box-shadow: 0 5px 5px black;
    display: inline;
}





/* FOOTER */
footer

footer div {

    background: #222f12;
    text-align: center;
    padding: 2em 2em;
}