header{
  background: linear-gradient(15deg, rgb(91, 213, 250) 4%, #9b05dbf4 47%);
  border-bottom: 1px solid black;
  nav{
    display: flex;
    width: 100%;
    padding: 10px 0;
    div.logo{
      margin: 0 20px 0 20px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        height: 80%;
        border-radius: 7px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 3);

      }
      img:hover{
        transform: scale(1.2);

      }
    }
    ul{
      display: flex;
      align-items: center;
      justify-content: center;
      li:first-child{
        margin-right: 20px;
      }
      li{
        a{
          text-decoration: none;
          color: black;
          font-weight: bold;
          font-size: 1.5rem;
        }
        a:hover{
          color: #9b05dbf4;
          border: 1px solid white;
          border-radius: 10px;
          padding: 5px;
          box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        }
      }
    }
  }
}
