/* General */
* {
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 150px;
    text-align: left;
}
body{
    color: #393d41;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.65;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
h1{
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
}
h2{
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}
/*HEADER*/
header{
    background-color: black;
}
header div{
    text-align: center;
    padding: 40px;
}
/*MAIN*/
.bottom {
    margin-bottom: 150px;
}
#primissima {
    background-image:url(../images/banner.jpg);
    background-size: cover;
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 150px;
}
#titolone {
    margin-bottom: 20px;
}
#finalmente {
    margin-bottom: 40px;
}
#partiamo{
    background-color: #f04c2f;
    border-radius: 4px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.section {
    flex-direction: row-reverse;
}
.sectiondiv h3 {
    margin-bottom: 10px;
}
.sectiondiv p {
    margin-bottom: 30px;
}
#pcimg {
    object-fit: cover;
    border-radius: 100%;
}
#pop {
    color: white;
    background-color: #e22d0e;
    padding-top: 60px;
    padding-bottom: 40px;
}
#pop h2{
    padding-bottom: 30px;
}
#italic {
    font-style: italic;
}
#minmargin {
    margin-bottom: 0;
}
#tag{
    font-size: 0.9rem;
    margin-bottom: 0;
}
/* ASIDE */
.box {
    width: 500px;
    border: 1px solid #dee1e3;
    margin: 15px;
}
.box h3{
    padding-bottom: 5px;
}
.asideimg { 
    width: 100%;
    height: 350px;
}
.space {
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
}

/* FOOTER */
footer{
    color: #c8e7f0;
    background-color: #25a3c3;
    padding-top: 50px;
    padding-bottom: 100px;
}
footer a{
    color:#c8e7f0;
}
footer h2 {
    padding-bottom: 20px;
}
hr{
    color: white;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}

