/* Your styles here */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.titoli {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    margin: 15px 0px;
    
}
.generali{
    padding: 30px 70px 10px 70px;
    
}
i{
    color: #c8e7f0;
}
body{
    box-sizing: border-box;
    color: #393d41;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
}
/* RELATIVE TO HEADER */
img{
    width: 100%;
}

header {
    text-align: center;
}
#div-img{
    background-color: black;
    padding: 25px 20px;
    text-align: left;

}
#logo-epicode{
    width: 140px;
    
}
#block-header{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    padding: 200px;
}
main{
    margin-bottom: 40px;
}
#main-title{
    font-size: 1.9rem;
    padding: 9px 8px;
    line-height: 1.1;
    margin: 0;
}
button{
    background-color: #f04c2f;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border: 1px;
    padding: 15px 30px;
    margin-top: 30px;
    border-radius: 5px;
    margin-bottom: 18px;
}
/* RELATIVE TO MAIN */
#parte-a-2{
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}
#colonne{text-align:center;}
#img-circle-w{
    padding: 35px;
}
#img-circle{
    border-radius: 100%;
}
#last-main-block{
    background-color: #e22d0e;
    color: white;
    text-align: center;
    padding: 110px;
}
#last-main-block h2{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 20px;
}
#paragraph-italic {
    font-style: italic;
    margin-bottom: 27px;
}
#ceo{
    font-size: 0.9rem;
    margin-bottom: 20px;
}
/* RELATIVE TO ASIDE/ARTICLES */
article{
    text-align: center;
}
.articoli{
    border: 1px solid #dee1e3;
    height: 50vh;
    
}
.articles-img{
    height: 30vh;
}
.article-paragraph{
    padding: 0px 5px 20px 5px;
}

aside {
    margin: 80px 0px 120px 0px;
    display: flex;
    align-items: center;
}
/* RELATIVE TO FOOTER */
footer{
    background-color: #25a2c3;
    color: #c8e7f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer h2 {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 15px
}
a{
    display: block;
    color: #c8e7f0;
}
hr{
    width: 210px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#copyright {
    font-size: 0.8rem;
    padding-bottom: 40px
}
#colonne {text-align: left;}

    