div#mainContent{
    height: 900px;
    background-image: url(../../assets/midjourney.bulissimo_stupid_developer_happy_to_write_code_f2377e7c-418f-49f1-ab25-14945cee7e9d.png);
    background-size: cover;
}