<section>

    <h5 class="text-center text-light mt-2">Best meme's by Group 2</h5>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <video controls src="assets/EasterEgg.mp4" class="" alt="..."></video>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <p class="text-center text-light">Questo video è stato editato dal sig.Manuel Altruda</p>
    <p class="text-center text-light">Tutti coloro che faranno uso di questo video a
        scopo prettamente NON istruttivo, saranno instantaneamente querelati.</p>
    <p class="text-center text-light">© GRUPPO-2</p>

</section>
